body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

p {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    margin: 5%;
    color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.start {
    display: inline-block;
    min-width: 180px;
    padding: 15px 10px;
    background-color: #ed1c24;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    transition: background-color .25s, padding-right .25s;
}

.start:hover {
    background-color: #e4575d;
    padding-right: 35px;
}

.start::after {
    content: '\f178';
    position: absolute;
    top: 50%;
    transform: translate(-17px, -50%);
    display: inline-block;
    font-family: 'FontAwesome';
    font-weight: 100;
    opacity: 0;
    transition: transform .25s, opacity .25s;
}

.start:hover::after {
    transform: translate(5px, -50%);
    opacity: 1;
}
